html {
    min-height: 100%;
    position: relative;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    background: white;
}

header {
    width: 100%;
    max-height: 10%;
    background-image:url(imagenes/bsas.jpg);
    background-size: contain;
    background-position: center;
    font-style: italic;
    color: white;
    padding-block: 10%;
    padding-inline: auto;
    text-align: center;
   
}

@media screen and (min-width:601px) and (max-width:1199px) {
    header {
        width: 100%;
        max-height: 10%;
        background-image:url(imagenes/bsas.jpg);
        background-size: contain;
        background-position:top;
        background-repeat: no-repeat;
        padding-block: 0%;
        padding-inline: auto;
        text-align: center;
       
    }

    #header_section_titulo h1{ 
    display: none;
    
}
}

@media screen and (max-width:600px) {

    header {
        width: 100%;
        max-height: 10%;
        background-image:url(imagenes/bsas.jpg);
        background-size: contain;
        background-position:top;
        background-repeat: no-repeat;
        padding-block: 0%;
        padding-inline: auto;
        text-align: center;
       
    }

    #header_section_titulo h1{ 
    display: none;
    
}
}

#titulo {
    font-style: italic;
    color: black;
    padding-top: 10%;
    padding-inline: auto;
    text-align: center;
    font-size: xx-large;
}

@media screen and (min-width:601px) and (max-width:1199px) {
    
    #titulo {
        font-style: italic;
        color: black;
        padding-top: 0%;
        margin-top: 0%;
        padding-inline: auto;
        text-align: center;
        font-size: xx-large;
    }
    
}


@media screen and (max-width:600px) {
    
    #titulo {
        font-style: italic;
        color: black;
        padding-top: 10%;
        margin-top: -30%;
        padding-inline: auto;
        text-align: center;
        font-size: xx-large;
    }
    
}

#aside_mas_main {
    display: grid;
    grid-column-gap: 3%;
    width: 100%;
    margin-top: 10%;
    height: 100%;

    
}

@media screen and (min-width:601px) and (max-width:1199px) {
    #aside_mas_main {
        display: block;
        grid-column-gap: 3%;
        width: 100%;
        margin-top: 4%;
        height: 100%;
    
        
    }
}

@media screen and (max-width:600px) {
    #aside_mas_main {
        display: block;
        grid-column-gap: 3%;
        width: 100%;
        margin-top: 4%;
        height: 100%;
    
        
    }
}


aside {
    height: auto;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 1;
    text-align: center;
    justify-self: center;
    align-self: center;
                    
}

aside nav {
    height: 100%;
    width: 100%;
    padding-top: 70%;
    margin-left: 90%;
  
}

@media screen and (min-width:601px) and (max-width:1199px) {   
    aside nav {
        height: 100%;
        width: 100%;
        padding-top: 0%;
        margin-left: 0%;
            
   }
   }

@media screen and (max-width:600px) {

    aside nav {
     height: 100%;
     width: 100%;
     padding-top: 0%;
     margin-left: 0%;
         
}
}


main {
    height: 110%;
    width: 100%;
    grid-column-start: 4;
    grid-column-end: 4;
    height: auto;
    justify-self: center;
    align-self:center;
    border-left: 1px solid gray;
        
}

#main_section_presentacion{
    width: 100%;
    height: 100%;
    margin-bottom: 3%;
    display: grid;
    
}

@media screen and (min-width:601px) and (max-width:1199px) {  
    #main_section_presentacion{
        width: 100%;
        height: 100%;
        margin-bottom: 2%;
        display:block;
             
    }
}


@media screen and (max-width:600px) {
    #main_section_presentacion{
        width: 100%;
        height: 100%;
        margin-bottom: 3%;
        display:block;
             
    }
}

#mifoto {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    align-self: flex-start;
    justify-self: right;
    height: 90%;
    width: 60%;
      
}

#mifoto img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 10px 30px #000;
    border: 1px solid rgb(70, 72, 193);
}

@media screen and (min-width:601px) and (max-width:1199px) {  
    #mifoto {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
        align-self: flex-start;
        justify-self: right;
        height: 100%;
        width: 100%;
        text-align: center;
        margin-top: 13%; 
    }

    #mifoto img{
        height: 40%;
        width: 40%;
        border-radius: 50%;
        box-shadow: 0 10px 30px #000;
        border: 1px solid rgb(70, 72, 193);
        
        
    }
}   

@media screen and (max-width:600px) {
    #mifoto {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
        align-self: flex-start;
        justify-self: right;
        height: 100%;
        width: 100%;
        text-align: center;
        margin-top: 15%; 
    }

    #mifoto img{
        height: 50%;
        width: 50%;
        border-radius: 50%;
        box-shadow: 0 10px 30px #000;
        border: 1px solid rgb(70, 72, 193);
        
        
    }
}   


#presentacion {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    align-self:flex-start;
    justify-self: left;
    height: auto;    
    width: 70%;
    word-wrap: break-word;
    margin-left: 4.5%;
    margin-top: 12%;
    
}

#presentacion h4{
    height: auto;
    width:100%;
    object-fit: contain;
    text-align:left;
    line-height: 1.4em;
   
}

@media screen and (min-width:601px) and (max-width:1199px) { 
    #presentacion {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
        align-self:flex-start;
        justify-self: left;
        height: auto;    
        width: 100%;
        word-wrap: break-word;
        padding-left: 5%;
        padding-right: 5%;
        margin-top: 3%;
        
    }


    #presentacion h4{
        height: auto;
        width:100%;
        object-fit: contain;
        text-align: center;
        line-height: 1.4em;
        font-size: large;  
    }
}

@media screen and (max-width:600px) {
    #presentacion {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
        align-self:flex-start;
        justify-self: left;
        height: auto;    
        width: 100%;
        word-wrap: break-word;
        margin-left: 2%;
        margin-top: 3%;
        
    }


    #presentacion h4{
        height: auto;
        width:100%;
        object-fit: contain;
        text-align:left;
        line-height: 1.4em;
        font-size: medium;  
    }
}




@media screen and (max-width:600px) {
    #presentacion h4{
        height: auto;
        width:100%;
        object-fit: contain;
        text-align:left;
        line-height: 1.4em;
        font-size: medium;  
    }
}

#main_section_introduccion {
    height: auto; 
    width: 75%;
    word-wrap: break-word;
    margin-left: 10%;
    margin-block: 0%;
    margin-top: 15%;
    margin-bottom: 5%;
                   
}

#main_section_introduccion h1{
    height: auto;
    width:100%;
    object-fit: contain;
    text-align:left;
    line-height: 1.4em;
    font-size:xx-large;
      
}

#introduccion h4{
    height: auto;
    width:100%;
    object-fit: contain;
    text-align:left;
    line-height: 1.4em;
    
}

@media screen and (min-width:601px) and (max-width:1199px) { 
    #main_section_introduccion {
        height: auto; 
        width: 100%;
        word-wrap: break-word;
        margin-left: 1%;
        margin-block: 0%;
        margin-top: 15%;
        margin-bottom: 15%;
                       
    }
    
    #main_section_introduccion h1{
        height: auto;
        width:100%;
        object-fit: contain;
        text-align:center;
        line-height: 1.4em;
        font-size:xx-large;
          
    }
    
    #main_section_introduccion h4{
        height: auto;
        width:100%;
        object-fit: contain;
        text-align:left;
        line-height: 1.4em;
        font-size: large;
    }
    
    }

@media screen and (max-width:600px) {

#main_section_introduccion {
    height: auto; 
    width: 100%;
    word-wrap: break-word;
    margin-left: 1%;
    margin-block: 0%;
    margin-top: 15%;
    margin-bottom: 15%;
                   
}

#main_section_introduccion h1{
    height: auto;
    width:100%;
    object-fit: contain;
    text-align:center;
    line-height: 1.4em;
    font-size:xx-large;
      
}

#main_section_introduccion h4{
    height: auto;
    width:100%;
    object-fit: contain;
    text-align:left;
    line-height: 1.4em;
    font-size: medium;
}

}

#main_section_proyectos {
    display: grid;
    margin-bottom: 2%;
    margin-top: 0%;
    margin-inline: 10%;
    text-align: center;
    border-radius: 8px;
    width: 90%;
    padding-right: 8%;
    
        
}


#main_section_proyectos article{
    padding-bottom: 0%;
}

#valorreal {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    justify-self: left;
    height: 80%;
    width: 40%;
    line-height: 2em;
   
}


#valorreal img{
    height: 100%;
    width: 100%;
    box-shadow: 0 10px 30px #000;
    border: 1px solid rgb(70, 72, 193);
    
}

#monitordeinversiones {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    justify-self: left;
    height: 80%;
    width: 40%;
    line-height: 2em;
    
    
}

#monitordeinversiones img{
    height: 100%;
    width: 100%;
    box-shadow: 0 10px 30px #000;
    border: 1px solid rgb(70, 72, 193);
    
}

footer {
    font-style: italic;
    color: black;
    padding-inline: auto;
    text-align: center;
    margin-top: 20%;
    margin-bottom: 2%;
    border-top: 1px solid gray;
    padding-top: 3%;
    color: lightslategray;
    
}

#lcdtm{
    font-size:x-small ;
    border-block: 1px solid black;
    border-inline: 1px solid black;
    border-radius: 50%;
    color: black;
    background-color: whitesmoke;
    padding-top: 0.1%;
    
}

@media screen and (max-width:600px) {
    footer {
        font-style: normal;
        font-size: xx-small;
        
    }

    #lcdtm {
        font-style: normal;
        font-size: xx-small;
    }
    
}


#contacto {
    width: 100%;
    height: 100%;
    padding: 0%;
    background: black;
    display: grid;
    grid-template-columns: 30% 60% 10%;
        
}

  
#fotocontacto {
    grid-column-start: 1;
    grid-column-end: 2;
    align-self: center;
    justify-self: left;
    width: 30%;
    height: 100%;
        
}


#titulocontacto {
    grid-column-start: 2;
    grid-column-end: 3;
    align-self: center;
    justify-self: center;
    margin-right: 38%;
    font-size:xx-large;   
       
}

#navcontacto {
    grid-column-start: 3;
    grid-column-end: 4;
    align-self:flex-end;
    justify-self: right;
    margin-right: 15%;
    margin-bottom: 5%;
    ont-size:-large;  
    text-align: right;
    border-radius: 30%;
    box-shadow: 0 5px 25px white;
    border: 1px solid rgb(70, 72, 193);
    background-color: ;
}



